html{
	background : url("background1.jpg");	
	background-size : cover;
	background-repeat:no-repeat;
	background-position:center;
	height : 100%;
	color : white;
}
#header{
	height:100%;
	width:1024px;
	margin:auto;
	border-bottom:1px solid black;
	border-left:1px solid black;
	border-right:1px solid black;
	padding:25px;
	font:18px arial;
	overflow:hidden;
}
#connexion{
	border : solid black 1px;
	margin-top:20px;
	margin-left : 30px;
	float:right;
	width:130px;
	height:100%;
	padding:20px;
	margin-left:740px;
}
#arti{
	border : solid black 1px;
	width : 800px;
}
#minifont{
	font-size : 9px;
}
.button {
	display: inline-block;
	border-radius: 4px;
	background-color: #740900;
	border: none;
	color: #FE9C20;
	text-align: center;
	font-size: 10px;
	padding: 5px;
	width: 120px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
}

.button span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.button span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	transition: 0.5s;
}

.button:hover span {
	padding-right: 10px;
}

.button:hover span:after {
	opacity: 1;
	right: 0;
}

