html{
	background :#C1E4F8;	
	background-size : cover;
	background-repeat:no-repeat;
	background-position:center;
	height : 100%;
	color : #424242;
}
body{
	width : 62.5%;
	margin-left :18%;
}
#header{
	height:100%;
	width:62,5%;
	margin-left : 23%;
	font:18px arial;
	overflow:hidden;
	background : url("banniere.png");
	background-repeat:no-repeat;
	background-size : 69%;
}
#header1{
	height:100%;
	width:62,5%;
	margin-left : 23%;
	font:18px arial;
	overflow:hidden;
	background : url("banniere.png");
	background-repeat:no-repeat;
	background-size : 69%;
}
#connexion{
	margin-top:20px;
	margin-left : 30px;
	float:right;
	width:170px;
	height:100%;
	padding:20px;
	margin-left:740px;
	border-radius
}
#arti{
	border : solid black 0px;
	width : 800px;
}
#fatfont{
	font-size : 50px;
	text-align : center;
}
#font1{
	color : red;
	font-size : 22px;
}
#minifont{
	font-size : 9px;
	color : orange;
}
#minifont1{
	font-size : 12px;
	color ; orange;
}
#morpion{
	display : inline-table;
}
.textbox{
	height:25px;
	width:200px;
}
#boite_inscription{
	font-size : 24px;
	height : 180%;
}

#boite_inscription1{
	font-size : 18px;
}
#formulaire_inscription{
	text-align : center;
}
#articlejeux{
	border : solid black 0px;
}
#headerjeux{
	border : solid black 0px;
	font-color : black;
	font-size : 18px;
	text-decoration : none;
	background-color : #f80000;
	height : 25px;
	width : 100%;
}
#h10{
	margin-top : 5px;
}
#regle{
	
}
#simon1{
	display : block;
}
#imgjeux{
	float:left;
	border : solid black 0px;
	margin-left : 10px;
	margin-top : -6px;
}
#regle{
margin-left : 225px;
}
#tempo{
	background : url("stargate.png");
	background-color ; blue;
	background-repeat:no-repeat;
	background-position:center;	
}
#solitaire{
	border : solid black 0px;
}
#simonb1 {
	display : inline-block;
	float : left;
}
#simonb2 {
	display : inline;
	float : right;
}
#panel {
	border : solid black 2px
}
.button {
	display: inline-block;
	border-radius: 4px;
	background-color: #F80000;
	border: none;
	color: black;
	text-align: center;
	font-size: 10px;
	padding: 5px;
	width: 120px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
	border : 1px;
	float : left;
}
.button span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.button span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	transition: 0.5s;
}

.button:hover span {
	padding-right: 10px;
}

.button:hover span:after {
	opacity: 1;
	right: 0;
}
.button1 {
	display: inline-block;
	border-radius: 4px;
	background-color: #F80000;
	border: none;
	color: black;
	text-align: center;
	font-size: 12px;
	padding: 7px;
	width: 120px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
	border : 1px;
	float : left;
}
.button1 span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.button1 span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	transition: 0.5s;
}

.button1:hover span {
	padding-right: 10px;
}

.button1:hover span:after {
	opacity: 1;
	right: 0;
}
.button2 {
	display: inline-block;
	border-radius: 4px;
	background-color: #F80000;
	border: none;
	color: black;
	text-align: center;
	font-size: 16px;
	padding: 7px;
	width: 120px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
	border : 1px;
	float : left;
}
.button2 span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.button2 span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	transition: 0.5s;
}

.button2:hover span {
	padding-right: 10px;
}

.button2:hover span:after {
	opacity: 1;
	right: 0;
}
.button3 {
	border-radius: 4px;
	background-color: #F80000;
	border: none;
	color: black;
	text-align: center;
	font-size: 18px;
	padding: 7px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
	border : 1px;
}
.button3 span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.button3 span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	transition: 0.5s;
}

.button3:hover span {
	padding-right: 10px;
}

.button3:hover span:after {
	opacity: 1;
	right: 0;
}
.button4 {
	border-radius: 4px;
	background-color: #F80000;
	border: none;
	color: black;
	text-align: center;
	font-size: 18px;
	padding: 7px;
	width:35px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
	border : 1px;
}
.button4 span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.button4 span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	transition: 0.5s;
}

.button4:hover span {
	padding-right: 10px;
}

.button4:hover span:after {
	opacity: 1;
	right: 0;
}
.button5 {
	display: inline-block;
	border-radius: 4px;
	background-color: #F80000;
	border: none;
	color: black;
	text-align: center;
	font-size: 12px;
	padding: 7px;
	width: 150px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 20px;
	border : 1px;
	float : right;
}
.button5 span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.button5 span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	transition: 0.5s;
}

.button5:hover span {
	padding-right: 10px;
}

.button5:hover span:after {
	opacity: 1;
	right: 0;
}
.button6 {
	display: inline-block;
	border-radius: 4px;
	background-color: #F80000;
	border: none;
	color: black;
	text-align: center;
	font-size: 12px;
	padding: 7px;
	width: 150px;
	transition: all 0.5s;
	cursor: pointer;
	border : 1px;
	float : right;
}
.button6 span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.button6 span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	transition: 0.5s;
}

.button6:hover span {
	padding-right: 10px;
}

.button6:hover span:after {
	opacity: 1;
	right: 0;
}
.button7 {
	display: inline-block;
	border-radius: 4px;
	background-color: #F80000;
	border: none;
	color: black;
	text-align: center;
	font-size: 12px;
	padding: 7px;
	width: 120px;
	transition: all 0.5s;
	cursor: pointer;
	border : 1px;
	float : left;
}
.button7 span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.button7 span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	transition: 0.5s;
}

.button7:hover span {
	padding-right: 10px;
}

.button7:hover span:after {
	opacity: 1;
	right: 0;
}

.button8 {
	border-radius: 4px;
	background-color: #F80000;
	border: none;
	color: black;
	text-align: center;
	font-size: 15px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 3px;
}

.button9 {
	border: none;
	padding: 0px 0px;
	background: transparent;
	cursor: pointer;
}

table, th, td {
    border: 1px solid #F80000;
}
