html{
	background :#C1E4F8;	
	background-size : cover;
	background-repeat:no-repeat;
	background-position:center;
	height : 100%;
	color : #424242;
}
#header{
	height:100%;
	width:1024px;
	margin:auto;
	border-bottom:1px solid black;
	border-left:1px solid black;
	border-right:1px solid black;
	padding:25px;
	font:18px arial;
	overflow:hidden;
}
#connexion{
	border : solid black 1px;
	margin-top:20px;
	margin-left : 30px;
	float:right;
	width:170px;
	height:100%;
	padding:20px;
	margin-left:740px;
}
#arti{
	border : solid black 1px;
	width : 800px;
}
#fatfont{
	font-size : 50px;
	text-align : center;
}
#minifont{
	font-size : 9px;
	color : orange;
}
#minifont1{
	font-size : 12px;
	color ; orange;
}
#boite_inscription{
	border : 2px solid black;
}
#boite_inscription1{
	border : 2px solid black;
	font-size : 18px;
}
#formulaire_inscription{
	text-align : center;
}
#tempo{
	border : 1px solid black;	
}
.button {
	display: inline-block;
	border-radius: 4px;
	background-color: #D02628;
	border: none;
	color: black;
	text-align: center;
	font-size: 10px;
	padding: 5px;
	width: 120px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
	border : 1px;
	float : left;
}
.button span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.button span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	transition: 0.5s;
}

.button:hover span {
	padding-right: 10px;
}

.button:hover span:after {
	opacity: 1;
	right: 0;
}
.button1 {
	display: inline-block;
	border-radius: 4px;
	background-color: #D02628;
	border: none;
	color: #FE9C20;
	text-align: center;
	font-size: 12px;
	padding: 7px;
	width: 120px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
	border : 1px;
	float : left;
}
.button1 span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.button1 span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	transition: 0.5s;
}

.button1:hover span {
	padding-right: 10px;
}

.button1:hover span:after {
	opacity: 1;
	right: 0;
}
.button2 {
	display: inline-block;
	border-radius: 4px;
	background-color: #D02628;
	border: none;
	color: #FE9C20;
	text-align: center;
	font-size: 16px;
	padding: 7px;
	width: 120px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
	border : 1px;
	float : left;
}
.button2 span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.button2 span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	transition: 0.5s;
}

.button2:hover span {
	padding-right: 10px;
}

.button2:hover span:after {
	opacity: 1;
	right: 0;
}
